/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
	9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@keyframes backgroundTranslateX {
  from {
      background-position-x: 0%;
      background-position-y: 0px;
  }

  to {
      background-position-x: 100%;
      background-position-y: 0px;
  }
}

.textShine {
  color: transparent;
  animation: 3.4s linear infinite backgroundTranslateX;
  background-image: linear-gradient(45deg, #A81CC1, #5143E9, #A81CC1, #5143E9);
  background-size: 400% 100%;
  background-clip: text;
  transition: all .8s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(81, 67, 233), rgb(168, 28, 193));
}